.container
  .row
    .col-lg-6.col-md-7.col-xs-12.col-lg-offset-3.col-md-offset-2
      .panel.panel-default
        .panel-heading
          h3.panel-title Calculadora iva
        .panel-body
          form(name='calculatorForm')
            form-calculator(
              total='$ctrl.total'
              base='$ctrl.base'
              on-base-changed='$ctrl.baseChanged($event)'
              on-total-changed='$ctrl.totalChanged($event)'
              on-iva-changed='$ctrl.ivaChanged($event)'
              on-form-submit='$ctrl.onFormSubmit($event)'
            )
          list-calculator(
            lines='$ctrl.lines'
            on-delete='$ctrl.onDelete($event)'
          )