ng-form(name="calculatorFormChild")
    .row
        .col.col-lg-6.align-self-start
            .col.col-lg-12
                .form-group
                    label(for='concept') Concepto:
                    input#concept.form-control(
                        type='text'
                        ng-model='$ctrl.concept'
                        name='concept'
                        required
                    )
            .col.col-lg-12
                .form-group
                    label(for='base') Base:
                    input#base.form-control(
                        type='text'
                        ng-model='$ctrl.base'
                        ng-change='$ctrl.valueChanged($ctrl.BASE)'
                        ng-pattern="/^[0-9]*$/"
                        name='base'
                        required
                    )
                    div(ng-messages='calculatorFormChild.base.$error' role='alert').error-message
                        div(ng-message="pattern") Inroduce una cantidad p.e: 19
            .col.col-lg-12
                .form-group
                    label(for='iva') IVA:
                    input#iva.form-control(
                        type='text',
                        disabled='',
                        ng-model='$ctrl.iva'
                        ng-pattern="/^[0-9]*$/"
                        name='iva'
                        required
                    )
            .col.col-lg-12
                .form-group
                    label(for='total') Total:
                    input#total.form-control(
                        type='text'
                        ng-model='$ctrl.total'
                        ng-change='$ctrl.valueChanged($ctrl.TOTAL)'
                        ng-pattern="/^[0-9]*$/"
                        name='total'
                        required
                    )
                    div(ng-messages='calculatorFormChild.total.$error' role='alert').error-message
                        div(ng-message="pattern") Inroduce una cantidad p.e: 19
        .col.col-lg-4.align-self-end.col-lg-offset-2
            .col.col-lg-12
                .radio
                    label
                        input(
                                type='radio', 
                                name='optradio', 
                                value='4' 
                                ng-model='$ctrl.iva' 
                                ng-click='$ctrl.valueChanged($ctrl.IVA)'
                            )
                        | 4%
            .col.col-lg-12
                .radio
                    label
                        input(
                                type='radio', 
                                name='optradio', 
                                value='10' 
                                ng-model='$ctrl.iva' 
                                ng-click='$ctrl.valueChanged($ctrl.IVA)'
                            )
                        | 10%
            .col.col-lg-12
                .radio
                    label
                        input(
                                type='radio', 
                                name='optradio', 
                                value='21' 
                                ng-model='$ctrl.iva' 
                                ng-click='$ctrl.valueChanged($ctrl.IVA)'
                            )
                        | 21%
            .col.col-lg-12
                input(
                    type='submit' 
                    value='Guardar' 
                    ng-click="$ctrl.formSubmit(calculatorFormChild)" 
                    ng-disabled='calculatorFormChild.$invalid'
                ).btn.btn-success
