.container
  .row
     .col-lg-4.col-md-6.col-sm-8.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-2
      .panel.panel-default
        .panel-heading
          h3.panel-title Please sign in
        .panel-body
          form(name="loginForm" role='form' novalidate ng-submit="$ctrl.login()")
            fieldset
              .form-group
                input.form-control(
                  placeholder='E-mail', 
                  name='email', 
                  type='email' 
                  ng-model="$ctrl.credentials.email",
                  required)
                div(ng-messages='loginForm.email.$error' role='alert'  ng-if='loginForm.email.$dirty').error-message
                  div(ng-message='required') Introduce el e-mail
                  div(ng-message='email') E-mail inválido: example@test.es

              .form-group
                input.form-control(
                  placeholder='Password', 
                  name='password', 
                  type='password', 
                  value='',  
                  ng-model="$ctrl.credentials.password" 
                  required)
                div(ng-messages='loginForm.password.$error' role='alert'  ng-if='loginForm.password.$dirty').error-message
                  div(ng-message='required') Introduce la contraseña
              input.btn.btn-lg.btn-success.btn-block(type='submit', value='Login' ng-disabled="loginForm.$invalid")
              p.pull-right.margin-top-register-message Regístrate 
                a(ui-sref="register")
                  strong aquí
  .row(ng-if="$ctrl.loginErrors")
     .col-lg-4.col-md-6.col-sm-8.col-xs-12.col-lg-offset-3.col-md-offset-3.col-sm-offset-2
      .alert.alert-danger.alert-dismissable.fade.in
        a(class="close" data-dismiss="alert" aria-label="close" ng-click="$ctrl.onClosedAlert()") &times;
        strong Incorrecto
        |  E-mail o password incorrectos.